<%= call_hook(:view_contacts_sidebar_top) %>

<h3><%= l(:label_crm_module_plural) %></h3>
<% if User.current.allowed_to?(:view_contacts, @project, :global => true) or User.current.allowed_to?(:view_leads, @project, :global => true) %>
    <%= link_to l(:label_lead_plural), { :controller => 'leads', :action => 'index', :project_id => @project, :set_filter => 1} %>
    |
<% end %>
<% if User.current.allowed_to?(:view_deals, @project, :global => true)   and (!User.current.allowed_to_globally?(:hide_deals) or User.current.admin?)  %>
    <%= link_to l(:label_deal_plural), { :controller => 'deals', :action => 'index', :project_id => @project, :set_filter => 1} %>
    |
<% end %>
<% if User.current.allowed_to?(:view_follow_up, @project, :global => true) %>
    <%= link_to 'Follow up', { :controller => 'leads', :action => 'index', :project_id => @project, :set_filter => 1, "f"=>["last_note", ""], "op"=>{"last_note"=>"*"}, "c"=>["id", "last_note", "name", "job_title", "company", "address"], "module"=> "followup", "sort"=>"last_note:desc,last_name,first_name" } %>

    |
<% end %>
<% if User.current.allowed_to?(:view_assigned_lead, @project, :global => true) %>
    <%= link_to 'Assigned Lead', { :controller => 'leads', :action => 'index', :project_id => @project, :set_filter => 1, "f"=>["assigned_to_id", ""], "op"=>{"assigned_to_id"=>"="}, "v"=>{"assigned_to_id"=>["me"]}} %>

    |
<% end %>
<%= link_to l(:label_crm_note_plural), { :controller => 'leads', :action => 'contacts_notes', :project_id => @project} %>


     <%= call_hook(:view_contacts_sidebar_bottom) %>
